<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario</title>
    <link th:href="@{/css/styles.css}" rel="stylesheet" />
</head>
<body>
<form action="recibe-parametros" method="post" id="formulario" th:object="${formulario}">
    <div th:insert="~{/fragments/fragmentos.html :: cabecera}"/>
    <div th:insert="~{/fragments/fragmentos.html :: Datos_Usuario}"/>
    <div th:insert="~{/fragments/fragmentos.html :: Datos_Contacto}"/>
    <div th:insert="~{/fragments/fragmentos.html :: Datos_Personales}"/>
    <div th:insert="~{/fragments/fragmentos.html :: Otra_Información}"/>
    <div th:insert="~{/fragments/fragmentos.html :: Operaciones_Formulario}"/>
</form>
</body>
</html>